* {
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
}

body, html {
    height: 99%;
    background-color: #000;
}

.container {
    height: 100%;
    background: url('../images/background.jpg');
}

.datos {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: #efb805;
}

button {
    letter-spacing: 1px;
    background-color: #efb805;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 1rem;
    box-shadow: 0 0 20px 0 #000;
}

button:active {
    background-color: #8d6d05;
    color: #333;
    box-shadow: 0 0 0 0
}

button > img {
    width: 25px;
    height: 25px;
}